<BsDropdown as |dd|>
  <dd.button>{{@pageSize}}<span class="caret"></span></dd.button>
  <dd.menu as |ddm|>
      <ddm.item>
        {{#link-to "raw-data" instrumentId (query-params page_size=20 page=1) class="dropdown-item"}}20{{/link-to}}
      </ddm.item>
      <ddm.item>
        {{#link-to "raw-data" instrumentId (query-params page_size=50 page=1) class="dropdown-item"}}50{{/link-to}}
      </ddm.item>
      <ddm.item>
        {{#link-to "raw-data" instrumentId (query-params page_size=100 page=1) class="dropdown-item"}}100{{/link-to}}
      </ddm.item>
      <ddm.item>
        {{#link-to "raw-data" instrumentId (query-params page_size=200 page=1) class="dropdown-item"}}200{{/link-to}}
      </ddm.item>
  </dd.menu>
</BsDropdown>