<BsDropdown as |dd|>
  <dd.button>{{@selected}}<span class="caret"></span></dd.button>
  <dd.menu as |ddm|>
      <ddm.item>
        {{#link-to 'spatial-graphs.spatial-graph' instrumentId 'axial-displacement-values' (query-params start_timestamp=null end_timestamp=null) class="dropdown-item"}}Axial Displacement{{/link-to}}
      </ddm.item>
      <ddm.item>
        {{#link-to 'spatial-graphs.spatial-graph' instrumentId 'axial-strain-values' (query-params start_timestamp=null end_timestamp=null) class="dropdown-item"}}Axial Strain{{/link-to}}
      </ddm.item>
      <ddm.item>
        {{#link-to 'spatial-graphs.spatial-graph' instrumentId 'bending-strain-values' (query-params start_timestamp=null end_timestamp=null) class="dropdown-item"}}Bending Strain{{/link-to}}
      </ddm.item>
      <ddm.item>
        {{#link-to 'spatial-graphs.spatial-graph' instrumentId 'load-values' (query-params start_timestamp=null end_timestamp=null) class="dropdown-item"}}Axial Load{{/link-to}}
      </ddm.item>
  </dd.menu>
</BsDropdown>